<?xml version="1.0"?>
<config>
    <tabs>
        <myconf translate="label">
            <label>Stoyan</label>
            <sort_order>150</sort_order>
        </myconf>
    </tabs>
    <sections>
        <tab1 translate="label" module="adminhtml">
            <label>Orderinfo</label>
            <tab>myconf</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general>
                    <label>Configuration</label>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[Here you can configure the Stoyan Orderinfo Plugin.]]></comment>
                    <fields>
                        <text_field>
                            <label>API URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment><![CDATA[The field for the API where the orders reports will be send. Example: http://www.domain.com/api/index.php]]></comment>
                        </text_field>
                        <active>
                            <label>Enable/Disable Plugin</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>12</sort_order>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                    </fields>
                </general>
            </groups>
        </tab1>
    </sections>
</config>